<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Project List</h1>
		<div id="loader">Loading...</div>
		<form action="/list" method="post">
			<div id="projects"></div>
			<button type="submit" class="btn btn-primary mt-4">Submit</button>
		</form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		document.getElementById('loader').style.display = 'none';
		// document.getElementById('btn').disabled = true;
		document.addEventListener('DOMContentLoaded', async () => {
			document.getElementById('loader').style.display = 'block';
			// Fetch projects
			const response = await fetch('/fetch_projects');
			const data = await response.json();
			divProjectList = document.createElement('ul');
			for (const p of data) {
				li = document.createElement('li');
				li.className = "list-group-item d-flex justify-content-between align-items-center";
				li.textContent = p.name;
				divProjectList.appendChild(li);
			}
			const projects = document.getElementById('projects');
			projects.appendChild(divProjectList);
			document.getElementById('loader').style.display = 'none';
			document.getElementById('projects').style.display = 'block';
			document.getElementById('btn').disabled = false;
		})
	</script>
</body>
</html>