<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icons/favicon-16x16.png') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

	<footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="social-links">
					<a href="https://github.com/timotif" target="_blank" rel="noopener" class="social-icon">
						<i class="fab fa-github fa-lg"></i>
					</a>
					<a href="https://www.linkedin.com/in/timoti-fregni/" target="_blank" rel="noopener" class="social-icon">
						<i class="fab fa-linkedin fa-lg"></i>
					</a>
                </div>
                <div class="copyright">
                    © <span id="currentYear"></span> GECA Calendar
                </div>
            </div>
        </div>
    </footer>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
		document.getElementById('currentYear').textContent = new Date().getFullYear();
		});
	</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>