<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Project List</h1>
		<form action="/list" method="post">
			<ul class="list-group">
				{% for proj in projects %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						{{ proj.name }}
						<input type="checkbox" class="form-check-input" name="selected_projects" value="{{ proj.id }}">
					</li>
				{% endfor %}
			</ul>
			<button type="submit" class="btn btn-primary mt-4">Submit</button>
		</form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>